@mixin phone {
    @media (max-width:750px) {
        @content;
    }
}

@mixin ipad {
    @media (max-width:968px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width:750px) {
        @content;
    }
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.login {
    background-image: url(../images/fullscreen_bg_image.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

        @include phone {
            background-image: none !important;
        }

    &__box {
        width: 100%;
        max-width: 415px;
        background: white;
        padding:2rem;
        color: lighten(black, 26%);
        border-radius: 5px;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 400px;

        @include phone {
            padding: 0rem;
            width: 100%;
        }

        .group { 
            position:relative; 
            margin-bottom:45px; 
        }

        h1 {
            color: #333;
            margin: 0;
            text-transform: capitalize;
            font-weight:500;
            line-height:1;
            margin-bottom: 3rem;
            text-align: center;
            border-bottom: 1px solid #d0dce7;
            padding-bottom: 2rem;
            width: 415px;
            padding-top: 1rem;

            @include phone {
                width: 100%;
                border-bottom: none;
            }
        }

        p {
            color: #a8b8c4;
            padding-bottom: 2rem;
            text-align: center;
            font-size: 1rem;

            @include phone {
                text-align: left;
                padding: 0 10px;
            }

            a {
                color: #007ee5;
                text-decoration: none;
            }
        }

        input {
            font-size: 0.8rem;
            padding:10px 10px 10px 5px;
            display:block;
            width:400px;
            border:none;
            border-bottom:1px solid #d0dce7;
            font-weight:300;
                
                @include phone {
                    padding:10px 0px;
                    width: 90%;
                    display: block;
                    margin: 0 auto;
                }

            &:focus {
                outline:none;
            }

            &:focus ~ label,
            &:valid ~ label {
                top: -20px;
                font-size: 14px;
                color: #d0dce7;
            }

            &:focus ~ .bar {
                &:before, &:after {
                  width: 50%
                }
            }

            &:focus ~ .highlight {
                -webkit-animation:inputHighlighter 0.3s ease;
                -moz-animation:inputHighlighter 0.3s ease;
                animation:inputHighlighter 0.3s ease;
            }
        }
        
        a.login-button {
            color: white;
            background: #007ee5;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            padding: 1rem 0.3rem;
            text-decoration: none;
            max-width: 415px;
            margin: -25px auto 0;
            display: block;

            @include phone {
                width: 100%;
                display: block;
                margin: 0 auto;
                position: fixed;
                border-radius: 0;
                bottom: 0;
            }
        }

        label {
            color:#333; 
            font-size:1.1rem;
            font-weight:normal;
            position:absolute;
            pointer-events:none;
            left:5px;
            top:10px;
            transition:0.2s ease all; 
            -moz-transition:0.2s ease all; 
            -webkit-transition:0.2s ease all;

            @include phone {
                left: 15px;
            }
        }

        .bar {
            position: relative;
            display: block;
            width: 415px;

            @include phone {
                width: 90%;
                display: block;
                margin: 0 auto;
            }

            &:before, &:after {
                content: '';
                height: 2px;
                width: 0;
                bottom: 1px;
                position: absolute;
                background: #007ee5;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
            }

            &:before {
                left: 50%;
            }

            &:after {
                right: 50%;
            }   
        }

        .highlight {
            position:absolute;
            height:60%; 
            width:100px; 
            top:25%; 
            left:0;
            pointer-events:none;
            opacity:0.5;
        }
    }

    @-webkit-keyframes inputHighlighter {
        from { background:#007ee5; }
        to  { width:0; background:transparent; }
    }
    @-moz-keyframes inputHighlighter {
        from { background:#007ee5; }
        to  { width:0; background:transparent; }
    }
    @keyframes inputHighlighter {
        from { background:#007ee5; }
        to  { width:0; background:transparent; }
    }
}

        // Profile Page
.profile-page {
    background-color: #f2f2f2;
    padding: 2rem 4rem;

    @include phone {
        padding: 0;
        }
}
.profile {

    &__info {
        padding: 2rem;
        background-color: #fff;
        min-height: 200px;

        @include phone {
            background-color: #f5f8f9;
            min-height: 400px;
            padding: 1rem;
            }

        .fa {
            margin-right: 5px;
            color: #727e88;
        }

        .ion-camera {
            color: #d0dce7;
            margin-right: 10px;
            font-size: 22px;
        }

        span {
            color: #727e88;
        }

        &-exit {
            text-decoration: none;
            color: #007ee5;
            border: 2px solid #007ee5;
            padding: 0.3rem 1.5rem;
            text-transform: uppercase;
            background-color: transparent;
            font-weight: bold;
            float: right;
            border-radius: 5px;
            font-size: 12px;

            @include phone {
            border: none;
            padding: 0px;
            }
        }

        &-upload {
            text-decoration: none;
            color: #727e88;
            border: 2px solid #d0dce7;
            padding: 0.5rem 1rem;
            text-transform: capitalize;
            background-color: transparent;
            font-weight: bold;
            text-align: center;
            border-radius: 5px;
            display: block;
            width: 200px;
            margin: 3rem auto 0;
            font-size: 14px;

            @include phone {
            display: none;
            }
        }

        &-edit {
            text-decoration: none;
            color: #007ee5;
            margin: 7px 0 0 25px;
            text-transform: uppercase;
            background-color: transparent;
            float: right;
            font-size: 18px;

            @include desktop {
                display: none;
            }
        }    

        .fa {
            display: inline-block;
        }
    }

    &__reviews {
        float: right;
        margin-top: 45px;

        @include phone {
            float: left;
            margin-top: 5px;
            }

        i {
           @include phone {
            float: left;
            }
        }

        .ion-android-star {
            font-size: 20px;
        }

        .ion-android-star-outline {
            font-size: 20px;
        }

        .fa {
            color: #727e88;

            @include phone {
                color: #007ee5;
            }
        } 

        span {
            @include phone {
                display: block;
                margin-top: 25px;
            }
        }        
    }

    &__address {
        width: 50%;
        margin-left: 20px;
        float: left;
        margin-top: 35px;

        @include ipad {
            width: 30%;
        }
        @include phone {
            width: 100%;
            margin-left: 0px;
            margin-top: 10px;
            }

        h3 {
            margin: 10px 0;

            @include phone {
            text-align: center;
            margin-bottom: 1rem;
            }
        }

        span {
            display: block;
            margin-bottom: 10px;
        }
    }

    &__picture {
        float: left;
        width: 170px;
        height: 170px;
        object-fit: cover;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        margin-top: 15px;

        @include ipad {
            width: 130px;
            height: 130px;
        }

        @include phone {
            margin: 0 auto;
            display: block;
            float: none;
            margin-top: 3rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__navigation {

        background-color: #fff;
        min-height: 60px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

            @include phone {
                overflow-x: scroll;
            }
        .nav {
            float: left;
            padding-left: 10px;

            @include phone {
                width: 430px;
            }

            &__item {
                display: inline-block;
                
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #727e88;
                    margin: 10px;
                    font-size: 0.9rem;
                }
            }

            .is-active {
                border-bottom: 3px solid #007ee5;
                padding-bottom: 14px;
            } 

            &__followers {
                float: right;
                color: #727e88;
                padding: 1rem 2rem 1rem 0;

                span {
                    color: #333;
                }

                .ion-ios-plus {
                    font-size: 22px;
                    margin-right: 10px;
                }

                @include phone {
                    float: left;
                    margin-top: -60px;
                    margin-left: 1rem;
                    position: absolute;
                }
            }
        }
    }
}

          // Profile Info
.info {

    &__box {
        padding: 1rem;
        background-color: #fff;
        min-height: 700px;
        margin-top: 2rem;  
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        @include phone {
             min-height: 400px;
        }
        //Tool-tip
.tooltip {
    text-align: center;
    margin: -2rem 0;
    position: absolute;

    @include phone {
            display: none;
        }
    }

    .tooltip--container.name {
        top: calc(-100% - 11.5rem);
        left: 323px;
        display: none;
    }

    .tooltip--container.website {
        top: calc(-100% - 8.5rem);
        left: 368px;
        display: none;
    }

    .tooltip--container.phone {
        top: calc(-100% - 5.5rem);
        left: 368px;
        display: none;
    }

    .tooltip--container.address {
        top: calc(-100% - 2.5rem);
        left: 395px;
        display: none;
    }

.form {
    &__desktop {
        .bar {
            background-color: #fff;
        }
    }

    &__save {
        text-decoration: none;
        color: #fff;
        border: 2px solid #fff;
        padding: 0.6rem 2.7rem;
        text-transform: uppercase;
        background-color: #007ee5;
        font-weight: bold;
        border-radius: 6px;
        font-size: 14px;
        margin-right: 10px;
    }

    &__cancel {
        text-decoration: none;
        color: #007ee5;
        border: 2px solid #007ee5;
        padding: 0.5rem 2rem;
        text-transform: uppercase;
        background-color: transparent;
        font-weight: bold;
        border-radius: 5px;
        font-size: 14px;
        margin-left: 10px;
    }
}    

    .tooltip--container {
        position: absolute;
        z-index:0;
        // top: calc(-100% - 2.5rem);
        // left: 395px;
        transform: translateX(-50%);
    }

    .tooltip--text:before,
    .tooltip--text:after{
        display: block;
        content: "";
        position: absolute;
        z-index: -100;
        width: 55%;
        top: 0;
        bottom: 0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        transition: transform 200ms ease-out;
    }

    .tooltip--text:before {
        left: 0;
        border-bottom-right-radius: 1rem;
    }

    .tooltip--text:after{
        right: 0;
        border-bottom-left-radius: 1rem;
    }

    .tooltip--text {
        background: #fff;
        padding: 2rem 2rem;
    }

    .tooltip--tip {
        position: absolute;
        z-index: -100;
        display: block;
        width: 1rem;
        height: 1rem;
        background: #fff;
        transform: 
          translateX(-50%)
          rotate(45deg);
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
        transition: transform 200ms ease-out;
        top: 23%;
    }

    .tooltip--source {
        font-size: 2rem;
        line-height: 1.5rem;
        font-style: italic;
    }
                //End tool-tip
        &.-mobile {
            display: none;
            @include desktop {
                display: none;
            }
        }

        h1 {
            display: inline;
            margin-left: 10px;

            @include phone {
                color: #b2c1cb;
            }
        }

        p {
            color: #333;
            padding: 10px;
            display: inline;
            font-weight: bold;
            font-size: 18px;
            background-color: #f5f8f8;
            display: inline-block;
            margin-bottom: 3px;

            @include phone {
                    background-color: #fff;
                }
    
        }

        h3 {
            display: none;

            @include phone {
                display: block;
                font-size: 16px;
                color: #b2c1cb;
                margin-top: 0px;
                margin-left: 10px;
            }
        }

        i {
            padding-right: 10px;
        }

        span {
            color: #333;
            padding: 10px;
            display: inline;
            font-size: 18px;
            background-color: #f5f8f8;
            display: inline-block;
            margin-bottom: 3px;

            @include phone {
                    background-color: #fff;
                }
        }

        .ion-edit {
                color: #727e88;
                padding: 10px;
                display: inline;
                font-size: 18px;
                background-color: #ecf1f5;
                position: relative;
                top: 0px;
                display: inline-block;
                margin-bottom: 3px;
                cursor: pointer;

                &:hover {
                    color: #fff;
                    background-color: #007ee5;
                }

                @include phone {
                    display: none;
                }
        }

        .top-pencil {
            display: none;

            @include phone {
                display: block;
                float: right;
                padding: 10px;

                &:hover {
                    color: #727e88;
                    background-color: #ecf1f5;
                }    
            }    
        }
        .ion-earth {
            color: #b2c1cb;
        }

        .ion-ios-telephone-outline {
            color: #b2c1cb;
        }

        .ion-ios-home-outline {
            color: #b2c1cb;
        }

        
        .group { 
            position:relative; 
            margin-bottom:20px; 
        }

        .group-profile {
            @include desktop {
                display: none;
            }
        }

        .form-profile {
            margin-top: 2rem;

            @include desktop {
                display: none;
            }

            span {
                background-color: #fff;
            }
        }

        input {
            font-size: 0.8rem;
            padding:10px 10px 10px 5px;
            display:block;
            width:90%;
            border:none;
            border-bottom:1px solid #d0dce7;
            font-weight:300;
            margin: 0 auto;
            
            &:focus {
                outline:none;
            }

            &:focus ~ label,
            &:valid ~ label {
                top: -20px;
                font-size: 14px;
                color: #d0dce7;
            }

            &:focus ~ .bar {
                &:before, &:after {
                  width: 50%
                }
            }

            &:focus ~ .highlight {
                -webkit-animation:inputHighlighter 0.3s ease;
                -moz-animation:inputHighlighter 0.3s ease;
                animation:inputHighlighter 0.3s ease;
            }
        }
        
        input[type=submit] {
            color: white;
            background: #007ee5;
            width: 415px;
            border-radius: 5px;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;

            @include phone {
                width: 100%;
                display: block;
                margin: 0 auto;
                position: fixed;
                border-radius: 0;
                bottom: 0;
            }
        }

        label {
            color:#333; 
            font-size:1rem;
            font-weight:normal;
            position:absolute;
            pointer-events:none;
            text-transform: uppercase;
            left:5px;
            top:10px;
            margin-left: 15px;
            transition:0.2s ease all; 
            -moz-transition:0.2s ease all; 
            -webkit-transition:0.2s ease all;

            @include phone {
                left: 15px;
            }
        }

        .bar {
            position: relative;
            display: block;
            width: 270px;

            @include phone {
                width: 90%;
                display: block;
                margin: 0 auto;
            }

            &:before, &:after {
                content: '';
                height: 2px;
                width: 0;
                bottom: 20px;
                position: absolute;
                background: #007ee5;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
            }

            &:before {
                left: 50%;
            }

            &:after {
                right: 50%;
            }   
        }

        .highlight {
            position:absolute;
            height:60%; 
            width:100px; 
            top:25%; 
            left:0;
            pointer-events:none;
            opacity:0;
        }
    }

    @-webkit-keyframes inputHighlighter {
        from { background:#007ee5; }
        to  { width:0; background:transparent; }
    }
    @-moz-keyframes inputHighlighter {
        from { background:#007ee5; }
        to  { width:0; background:transparent; }
    }
    @keyframes inputHighlighter {
        from { background:#007ee5; }
        to  { width:0; background:transparent; }
    }
}
                // Profile Info Forms

