body {
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

.login {
  background-image: url(../images/fullscreen_bg_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh; }
  @media (max-width: 750px) {
    .login {
      background-image: none !important; } }
  .login__box {
    width: 100%;
    max-width: 415px;
    background: white;
    padding: 2rem;
    color: #424242;
    border-radius: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 400px; }
    @media (max-width: 750px) {
      .login__box {
        padding: 0rem;
        width: 100%; } }
    .login__box .group {
      position: relative;
      margin-bottom: 45px; }
    .login__box h1 {
      color: #333;
      margin: 0;
      text-transform: capitalize;
      font-weight: 500;
      line-height: 1;
      margin-bottom: 3rem;
      text-align: center;
      border-bottom: 1px solid #d0dce7;
      padding-bottom: 2rem;
      width: 415px;
      padding-top: 1rem; }
      @media (max-width: 750px) {
        .login__box h1 {
          width: 100%;
          border-bottom: none; } }
    .login__box p {
      color: #a8b8c4;
      padding-bottom: 2rem;
      text-align: center;
      font-size: 1rem; }
      @media (max-width: 750px) {
        .login__box p {
          text-align: left;
          padding: 0 10px; } }
      .login__box p a {
        color: #007ee5;
        text-decoration: none; }
    .login__box input {
      font-size: 0.8rem;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 400px;
      border: none;
      border-bottom: 1px solid #d0dce7;
      font-weight: 300; }
      @media (max-width: 750px) {
        .login__box input {
          padding: 10px 0px;
          width: 90%;
          display: block;
          margin: 0 auto; } }
      .login__box input:focus {
        outline: none; }
      .login__box input:focus ~ label,
      .login__box input:valid ~ label {
        top: -20px;
        font-size: 14px;
        color: #d0dce7; }
      .login__box input:focus ~ .bar:before, .login__box input:focus ~ .bar:after {
        width: 50%; }
      .login__box input:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease; }
    .login__box a.login-button {
      color: white;
      background: #007ee5;
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      padding: 1rem 0.3rem;
      text-decoration: none;
      max-width: 415px;
      margin: -25px auto 0;
      display: block; }
      @media (max-width: 750px) {
        .login__box a.login-button {
          width: 100%;
          display: block;
          margin: 0 auto;
          position: fixed;
          border-radius: 0;
          bottom: 0; } }
    .login__box label {
      color: #333;
      font-size: 1.1rem;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all; }
      @media (max-width: 750px) {
        .login__box label {
          left: 15px; } }
    .login__box .bar {
      position: relative;
      display: block;
      width: 415px; }
      @media (max-width: 750px) {
        .login__box .bar {
          width: 90%;
          display: block;
          margin: 0 auto; } }
      .login__box .bar:before, .login__box .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #007ee5;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all; }
      .login__box .bar:before {
        left: 50%; }
      .login__box .bar:after {
        right: 50%; }
    .login__box .highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5; }

@-webkit-keyframes inputHighlighter {
  from {
    background: #007ee5; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #007ee5; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #007ee5; }
  to {
    width: 0;
    background: transparent; } }

.profile-page {
  background-color: #f2f2f2;
  padding: 2rem 4rem; }
  @media (max-width: 750px) {
    .profile-page {
      padding: 0; } }

.profile__info {
  padding: 2rem;
  background-color: #fff;
  min-height: 200px; }
  @media (max-width: 750px) {
    .profile__info {
      background-color: #f5f8f9;
      min-height: 400px;
      padding: 1rem; } }
  .profile__info .fa {
    margin-right: 5px;
    color: #727e88; }
  .profile__info .ion-camera {
    color: #d0dce7;
    margin-right: 10px;
    font-size: 22px; }
  .profile__info span {
    color: #727e88; }
  .profile__info-exit {
    text-decoration: none;
    color: #007ee5;
    border: 2px solid #007ee5;
    padding: 0.3rem 1.5rem;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    float: right;
    border-radius: 5px;
    font-size: 12px; }
    @media (max-width: 750px) {
      .profile__info-exit {
        border: none;
        padding: 0px; } }
  .profile__info-upload {
    text-decoration: none;
    color: #727e88;
    border: 2px solid #d0dce7;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    background-color: transparent;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    display: block;
    width: 200px;
    margin: 3rem auto 0;
    font-size: 14px; }
    @media (max-width: 750px) {
      .profile__info-upload {
        display: none; } }
  .profile__info-edit {
    text-decoration: none;
    color: #007ee5;
    margin: 7px 0 0 25px;
    text-transform: uppercase;
    background-color: transparent;
    float: right;
    font-size: 18px; }
    @media (min-width: 750px) {
      .profile__info-edit {
        display: none; } }
  .profile__info .fa {
    display: inline-block; }

.profile__reviews {
  float: right;
  margin-top: 45px; }
  @media (max-width: 750px) {
    .profile__reviews {
      float: left;
      margin-top: 5px; } }
  @media (max-width: 750px) {
    .profile__reviews i {
      float: left; } }
  .profile__reviews .ion-android-star {
    font-size: 20px; }
  .profile__reviews .ion-android-star-outline {
    font-size: 20px; }
  .profile__reviews .fa {
    color: #727e88; }
    @media (max-width: 750px) {
      .profile__reviews .fa {
        color: #007ee5; } }
  @media (max-width: 750px) {
    .profile__reviews span {
      display: block;
      margin-top: 25px; } }

.profile__address {
  width: 50%;
  margin-left: 20px;
  float: left;
  margin-top: 35px; }
  @media (max-width: 968px) {
    .profile__address {
      width: 30%; } }
  @media (max-width: 750px) {
    .profile__address {
      width: 100%;
      margin-left: 0px;
      margin-top: 10px; } }
  .profile__address h3 {
    margin: 10px 0; }
    @media (max-width: 750px) {
      .profile__address h3 {
        text-align: center;
        margin-bottom: 1rem; } }
  .profile__address span {
    display: block;
    margin-bottom: 10px; }

.profile__picture {
  float: left;
  width: 170px;
  height: 170px;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-top: 15px; }
  @media (max-width: 968px) {
    .profile__picture {
      width: 130px;
      height: 130px; } }
  @media (max-width: 750px) {
    .profile__picture {
      margin: 0 auto;
      display: block;
      float: none;
      margin-top: 3rem; } }
  .profile__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.profile__navigation {
  background-color: #fff;
  min-height: 60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  @media (max-width: 750px) {
    .profile__navigation {
      overflow-x: scroll; } }
  .profile__navigation .nav {
    float: left;
    padding-left: 10px; }
    @media (max-width: 750px) {
      .profile__navigation .nav {
        width: 430px; } }
    .profile__navigation .nav__item {
      display: inline-block; }
      .profile__navigation .nav__item a {
        text-decoration: none;
        text-transform: uppercase;
        color: #727e88;
        margin: 10px;
        font-size: 0.9rem; }
    .profile__navigation .nav .is-active {
      border-bottom: 3px solid #007ee5;
      padding-bottom: 14px; }
    .profile__navigation .nav__followers {
      float: right;
      color: #727e88;
      padding: 1rem 2rem 1rem 0; }
      .profile__navigation .nav__followers span {
        color: #333; }
      .profile__navigation .nav__followers .ion-ios-plus {
        font-size: 22px;
        margin-right: 10px; }
      @media (max-width: 750px) {
        .profile__navigation .nav__followers {
          float: left;
          margin-top: -60px;
          margin-left: 1rem;
          position: absolute; } }

.info__box {
  padding: 1rem;
  background-color: #fff;
  min-height: 700px;
  margin-top: 2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  @media (max-width: 750px) {
    .info__box {
      min-height: 400px; } }
  .info__box .tooltip {
    text-align: center;
    margin: -2rem 0;
    position: absolute; }
    @media (max-width: 750px) {
      .info__box .tooltip {
        display: none; } }
  .info__box .tooltip--container.name {
    top: calc(-100% - 11.5rem);
    left: 323px;
    display: none; }
  .info__box .tooltip--container.website {
    top: calc(-100% - 8.5rem);
    left: 368px;
    display: none; }
  .info__box .tooltip--container.phone {
    top: calc(-100% - 5.5rem);
    left: 368px;
    display: none; }
  .info__box .tooltip--container.address {
    top: calc(-100% - 2.5rem);
    left: 395px;
    display: none; }
  .info__box .form__desktop .bar {
    background-color: #fff; }
  .info__box .form__save {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 0.6rem 2.7rem;
    text-transform: uppercase;
    background-color: #007ee5;
    font-weight: bold;
    border-radius: 6px;
    font-size: 14px;
    margin-right: 10px; }
  .info__box .form__cancel {
    text-decoration: none;
    color: #007ee5;
    border: 2px solid #007ee5;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px; }
  .info__box .tooltip--container {
    position: absolute;
    z-index: 0;
    transform: translateX(-50%); }
  .info__box .tooltip--text:before,
  .info__box .tooltip--text:after {
    display: block;
    content: "";
    position: absolute;
    z-index: -100;
    width: 55%;
    top: 0;
    bottom: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 200ms ease-out; }
  .info__box .tooltip--text:before {
    left: 0;
    border-bottom-right-radius: 1rem; }
  .info__box .tooltip--text:after {
    right: 0;
    border-bottom-left-radius: 1rem; }
  .info__box .tooltip--text {
    background: #fff;
    padding: 2rem 2rem; }
  .info__box .tooltip--tip {
    position: absolute;
    z-index: -100;
    display: block;
    width: 1rem;
    height: 1rem;
    background: #fff;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 200ms ease-out;
    top: 23%; }
  .info__box .tooltip--source {
    font-size: 2rem;
    line-height: 1.5rem;
    font-style: italic; }
  .info__box.-mobile {
    display: none; }
    @media (min-width: 750px) {
      .info__box.-mobile {
        display: none; } }
  .info__box h1 {
    display: inline;
    margin-left: 10px; }
    @media (max-width: 750px) {
      .info__box h1 {
        color: #b2c1cb; } }
  .info__box p {
    color: #333;
    padding: 10px;
    display: inline;
    font-weight: bold;
    font-size: 18px;
    background-color: #f5f8f8;
    display: inline-block;
    margin-bottom: 3px; }
    @media (max-width: 750px) {
      .info__box p {
        background-color: #fff; } }
  .info__box h3 {
    display: none; }
    @media (max-width: 750px) {
      .info__box h3 {
        display: block;
        font-size: 16px;
        color: #b2c1cb;
        margin-top: 0px;
        margin-left: 10px; } }
  .info__box i {
    padding-right: 10px; }
  .info__box span {
    color: #333;
    padding: 10px;
    display: inline;
    font-size: 18px;
    background-color: #f5f8f8;
    display: inline-block;
    margin-bottom: 3px; }
    @media (max-width: 750px) {
      .info__box span {
        background-color: #fff; } }
  .info__box .ion-edit {
    color: #727e88;
    padding: 10px;
    display: inline;
    font-size: 18px;
    background-color: #ecf1f5;
    position: relative;
    top: 0px;
    display: inline-block;
    margin-bottom: 3px;
    cursor: pointer; }
    .info__box .ion-edit:hover {
      color: #fff;
      background-color: #007ee5; }
    @media (max-width: 750px) {
      .info__box .ion-edit {
        display: none; } }
  .info__box .top-pencil {
    display: none; }
    @media (max-width: 750px) {
      .info__box .top-pencil {
        display: block;
        float: right;
        padding: 10px; }
        .info__box .top-pencil:hover {
          color: #727e88;
          background-color: #ecf1f5; } }
  .info__box .ion-earth {
    color: #b2c1cb; }
  .info__box .ion-ios-telephone-outline {
    color: #b2c1cb; }
  .info__box .ion-ios-home-outline {
    color: #b2c1cb; }
  .info__box .group {
    position: relative;
    margin-bottom: 20px; }
  @media (min-width: 750px) {
    .info__box .group-profile {
      display: none; } }
  .info__box .form-profile {
    margin-top: 2rem; }
    @media (min-width: 750px) {
      .info__box .form-profile {
        display: none; } }
    .info__box .form-profile span {
      background-color: #fff; }
  .info__box input {
    font-size: 0.8rem;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 90%;
    border: none;
    border-bottom: 1px solid #d0dce7;
    font-weight: 300;
    margin: 0 auto; }
    .info__box input:focus {
      outline: none; }
    .info__box input:focus ~ label,
    .info__box input:valid ~ label {
      top: -20px;
      font-size: 14px;
      color: #d0dce7; }
    .info__box input:focus ~ .bar:before, .info__box input:focus ~ .bar:after {
      width: 50%; }
    .info__box input:focus ~ .highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease; }
  .info__box input[type=submit] {
    color: white;
    background: #007ee5;
    width: 415px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold; }
    @media (max-width: 750px) {
      .info__box input[type=submit] {
        width: 100%;
        display: block;
        margin: 0 auto;
        position: fixed;
        border-radius: 0;
        bottom: 0; } }
  .info__box label {
    color: #333;
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    text-transform: uppercase;
    left: 5px;
    top: 10px;
    margin-left: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
    @media (max-width: 750px) {
      .info__box label {
        left: 15px; } }
  .info__box .bar {
    position: relative;
    display: block;
    width: 270px; }
    @media (max-width: 750px) {
      .info__box .bar {
        width: 90%;
        display: block;
        margin: 0 auto; } }
    .info__box .bar:before, .info__box .bar:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 20px;
      position: absolute;
      background: #007ee5;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all; }
    .info__box .bar:before {
      left: 50%; }
    .info__box .bar:after {
      right: 50%; }
  .info__box .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0; }

@-webkit-keyframes inputHighlighter {
  from {
    background: #007ee5; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #007ee5; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #007ee5; }
  to {
    width: 0;
    background: transparent; } }
